/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

div { text-align:center;}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
				
			body {width:100%;}
			
			#header {
				min-height:60px;
				width: 100%;
				background-color:#1199d9;
				border:0px;
				position:fixed;
				z-index:100000;
				top:0px;
				opacity:0.8;
				filter:alpha(opacity=80); /* For IE8 and earlier */
				-moz-box-shadow: 0 0 8px #888;
				-webkit-box-shadow: 0 0 8px#888;
				box-shadow: 0 0 8px #888;
				text-align:left;
			}
			
			
			.innermain {
				width:960px;
				
				margin: 0px auto;
				padding: 0px;
				
				border-bottom:0;
			}
			
			.menu {
				display:block;
				list-style:none;
				padding: 0px 0px;
				margin: 0px 0px; 	
			}
			
			#anchors {
				text-align:right;
				width:960px;
				margin: 0px auto;	
			}
			
			#smalllogo {
				float:left;
				text-align:left;
				width:30%;
				position:relative;
				padding-top:10px;
				margin-left: 10px;
			}
			
			#slogo {
				width : 181px;
				height : 40px;
				background-image : url(../img/smalllogo2.png);
			}

			#slogo:hover {
				background-image : url(../img/smalllogo3.png);
			} 
			
			#smalllogo img {
				border: 0px;
				outline: none;
			}
			
			.menu li {
    			float: right;
   				position: relative;
			}
			
			.menu li a {
    			color: #FFF;
   			 	display: block;
    			font-size: 14px;
    			line-height: 20px;
    			padding: 6px 12px;
    			margin: 8px 8px;
				margin-top:20px;
    			vertical-align: bottom;
    			text-decoration: none;
			}
			
			.menu li a:hover, {
    			color: #FFF;
			}
			
			.menu span {
				color:red;
				opacity:0.7;
				filter:alpha(opacity=70); /* For IE8 and earlier */
			}
			
			.menu span:hover {
				color:gray;
			}
			
			#section1 {
				/*background-image:url(../img/toppic.png);
				background-repeat: repeat;
				background-image:url(../img/new1.jpg); */
				padding:0px;
				
				padding-top:0px;
				height:300px;
				-moz-box-shadow: 0 0 8px #888;
				-webkit-box-shadow: 0 0 8px#888;
				box-shadow: 0 0 8px #888;
				overflow:hidden;
			}
			
			#topp {min-height:1px;margin-top:-1px;}
			
			#header h4 {font-size:.9em;letter-spacing:5px;margin-top:20px;float:right;color:white;}
			
			#section1 {z-index:0;overflow:hidden;width:100%;}
			#section1 .mainHeader {color:white;padding-top:20px;}
			#section1 {background-color:white;font-size: 1.4em;color:white;font-family: 'Ubuntu', sans-serif;font-weight:100; font-style: italic; }
			#section1 .innermain {z-index:3;position:absolute;width:100%;padding-top:50px;max-height:1000px;overflow:hidden;}
			#section1 .pic1 {opacity:0.7;filter:alpha(opacity=70); /* For IE8 and earlier */}
			#section1 .pic1 img {}
			#section1 .pic2 {z-index:1;width:100%;margin-top:-400px;}
			#section1 .pic2 img {width:100%;}
			
			
			#section32 {margin-top:60px;background-image:url(../img/toppic3.png); background-repeat: repeat-x; background-position:center top;height:200px;color:white;padding-top:20px;overflow:hidden;width:100%;}
			#section32 h1 {font-size:5em;letter-spacing:5px;font-weight:1000px;margin:0px;vertical-align:middle;padding-top:0px;
							text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;}
			#section32 .header2 {border-top:1px dotted white;border-bottom:1px dotted white;}
			#section32 .header2 span {color:maroon;opacity:0.7;margin:0px;}
			#section32 h2 {font-size:1.6em;letter-spacing:15px;margin:10px 0px;text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;}
			#section32 .logo {margin-top:50px;}
			
			
			#section2 {padding:0px; margin:0px 0px;position:relative;min-width:100%;}		
			#section2 .articles {text-align:center;z-index:3;width:1024px;margin:40px auto 0px auto;padding-bottom:40px;}
			#section2 article {margin:0px auto;}
			#section2 #detail {padding-top:60px;}
			#section2 .detail {position:relative;}
			#section2 .wback {position:relative;background-color:white;z-index:2;width:300px;height:300px;opacity:0.7;filter:alpha(opacity=70); /* For IE8 and earlier */}
			#section2 .pbox {font-size:.9em; line-height:30px;padding:5px;text-shadow: 1px 1px 1px #888;z-index:4;position:absolute;width:290px;height:290px;margin:0px auto;}
			#section2 .fbox {position:relative;}
			
			#section3 {background-color:white;font-size: 1.4em;color:white;font-family: 'Ubuntu', sans-serif;font-weight:100; font-style: italic;padding-top:20px;width:100%;}
			#section3 { background-image:url(../img/toppic3.png);background-repeat: repeat; background-position:center top;height:300px;}
			
			#section4 {background-image:url(../img/logo3.png); background-repeat: no-repeat; background-position:center top;margin:0px auto;padding-top:100px;margin-top:-100px;}
			#section4 {background-color:white;color:maroon;font-weight:100;font-family: 'Ubuntu',sans-serif;height:500px;z-index:1;}
			#section4 .article{width:960px;}
			
			#section5 {border-top:dotted 1px grey;margin:0px auto;padding-top:0px;margin-top:0px;width:100%;}
			#section5 {background-color:#1199d9;color:maroon;font-weight:100;font-family: 'Ubuntu',sans-serif;height:785px;z-index:1;}
			#section5 p {text-align:left;font-size:1.4em;font-family:'Quicksand',sans-serif; vertical-align:middle;width:60%;padding:20px;margin:5px;}
			#section5 p {float:left;width:44%;}
			#section5 .p1 {float:right;}
			#section5 .innermain{background:url(../img/hyback.jpg) center no-repeat;height:785px;margin-top:0px;}
			
		
			
			hr {border-top:dotted 1px black;}
			
			.innerpic .baby{
				-moz-box-shadow: 0 0 8px #888;
				-webkit-box-shadow: 0 0 8px#888;
				box-shadow: 0 0 8px #888;	
			}
			
			#top img {
				margin:0px;
			}
			
			
			
			#footer {
				min-height: 100px;
				
				width:100%;
				background: #1199d9;
				background-image:url(../img/logo2.png);
				background-repeat:no-repeat;
				background-position:top center;		
			}
			
			#footermain {
				min-height:20px;
				text-align:right;
				padding:100px;
				color:#FFF;
				position:relative;	
				width:960px;
				margin:0px auto;
						
			}
			
			#footnote {
				font-size:12px;
				color:#FFF;
				position:relative;
				bottom:0px;
				text-align: right;
				width:960px;
				margin:0px auto;
						
			}
			
			
			/*#java:hover, #php:hover, #html:hover, #css:hover, #sql:hover {opacity:1;ackground-position:0 -76px;}*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
	
	.mainHeader h1 {font-size:2em;}
	.map {display:none;}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
