 
/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0;  border: 0; outline: 0; font-size: 100%;
    vertical-align: baseline; background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
 
body {
   	font-size: 62.5%;
    text-align: center;
    color: #000000;
	background-image: url(images/footerback.jpg);
}

#content {
	text-align:center;
	background-image: url(images/midback.jpg);
	border:1px solid black;
}
 
/* container - place inside each section or around the entire page depending on your layout */
.container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    position: relative;
	min-height:500px;
	padding-top:5px;
}
 
/* for clearing any floats <br class="clearfloat" /> */
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
 
/*--- header section  ---*/
#header {

	min-height:292px;
	background-image: url(images/headerback.jpg);
	color:#083643;
	border-bottom:10px solid #083643;
}

#header p {
	font-size:2em;
	padding-top:10px;
	color:white;
	font-family: Rockwell, Tahoma, Helvetica, Arial, Sans-Serif;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

#header h1 {
	padding-top:50px;
	font-size:9.5em;
	font-family: Rockwell, Tahoma, Helvetica, Arial, Sans-Serif;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	
	/*text-shadow: 0px 2px 3px #555;*/
}

#header h2 {
	margin-top:40px;
	margin-bottom:20px;
	font-size:2em;
	font-family: Helvetica, Arial, Sans-Serif;
}

#header img {
	vertical-align: auto;
}

#header h2 span {
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

#header span {
	color:white;
}

#header #ex {
	font-style: italic;
	font-size:2em;
}
 
/*--- content section ----*/
#content {
    font-family:Helvetica, sans-serif;
	text-align:center;
	
}

.container {
	text-align:center;
	margin:0px auto;
}

.container form div {
	position:relative;
	background-image: url(images/emailback.png);
	background-repeat:no-repeat;
	background-position:center top;
	height:170px;
	padding:10px;
	padding-top:15px;
	text-shadow: 0px 2px 3px #555;
	color:white;
	margin-top:15px;
	text-align:center;
}

.container .success {
	color:green;
	font-size:1.4em;
}

.bad2 {
	color:red;
	font-size:1.4em;	
}

.container label {
	font-size:1.7em;
	margin-top:10px;
}

.container #email {
	height:45px;
	width:400px;
	font-size:3em;
	color:#993300;
	-moz-border-radius: 30px;
	/*-khtml-border-radius: 30px;*/
	border-radius:30px;
	padding-left:20px;
}

.container #email:focus {
	border:2px solid orange;
}

.container #email:hover {
	border:2px solid orange;
}

.button {
   border-top: 1px solid #d1d1d1;
   background: #3d454a;
   background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#3d454a));
   background: -webkit-linear-gradient(top, #adadad, #3d454a);
   background: -moz-linear-gradient(top, #adadad, #3d454a);
   background: -ms-linear-gradient(top, #adadad, #3d454a);
   background: -o-linear-gradient(top, #adadad, #3d454a);
   padding: 9px 22px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 21px;
   font-family:Helvetica;
   text-decoration: none;
	margin-left:5px;
}
   
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #fff;
   -webkit-transition: background .40s linear .1s;
	-moz-transition: background linear .40s ;
	 -o-transition: background linear .8s;
	 transition: background .40s linear .1s;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

a:link {
	text-decoration:none;
	color:black;
}

a:visited {
	text-decoration:none;
	color:black;
}

.list {
	margin: 0 auto;
	display:inline;
}

li {
	width:20%;
	float:left;
	position:relative;
	padding-top:10px;
	margin-bottom:10px;
}

li p {
	visibility: hidden;
}

li .dec {
	height:25px;
	visibility: hidden;
	position:relative;
	margin-bottom:40px;
}

li:hover {
	background: url(images/boxback.png);
	-webkit-transition: background .40s linear;
	 transition: background .40s linear;
}

li:hover p, li:hover .dec {
	visibility: visible;
	-webkit-transition: visibility .40s linear .1s;
	-moz-transition: visibility linear .40s ;
	 -o-transition: visibility all .8s;
	 transition: visibility .40s linear .1s;
}

.box {
	height:124px;
	background-repeat:no-repeat;
	background-position:center top;
}

#chrome .box {
	background-image: url(images/google.png);
	background-repeat:no-repeat;
	background-position:center top;
}

#firefox .box {
	background-image: url(images/firefox.png);
	background-repeat:no-repeat;
	background-position:center top;
}

#safari .box {
	background-image: url(images/safari.png);
	background-repeat:no-repeat;
	background-position:center top;
}

#ie .box {
	background-image: url(images/ie.png);
	background-repeat:no-repeat;
	background-position:center top;
}

#opera .box {
	background-image: url(images/opera.png);
	background-repeat:no-repeat;
	background-position:center top;
}

li a {
	
}
.green {
	margin-top:0px;
	color:green;	
	font-size:1.5em;
	padding:0px 10px;
}

.bad {
	margin-top:0px;
	color:red;
	font-size:1.5em;
	padding:0px 10px;	
}

li p {
	font-size:1.4em;
	text-shadow: 0px 2px 3px #555;
	position:relative;
}

li div p {
	margin:10px 0px;	
}

li p span {
	background-image: url(images/boxback.png);
	padding:10px 15px;
	margin-top:10px;
}

.name {
	/*background-image: url(images/boxback.png);*/
	padding:10px 10px;
	font-size:2em;
	visibility: visible;
	text-shadow: 0px 2px 3px #555;
	color:black;
}
 
/*--- footer section ---*/
#footer {
	border-top:10px solid #083643;
	height:290px;
	/*background-color: white;*/
	background-image: url(images/footerback.jpg);
	font-size:1.6em;
	color:white;
	position:relative;
}

.fcontainer {
	width:960px;
	margin:0 auto;
	margin-top:20px;
	position:relative;
	
}

.para {
	float:left;
	font-family:Helvetica, sans-serif;
}

.para span {
	color: yellow;
}

.fcontainer p {
	width:600px;
	text-align:left;
	position:relative;
}

.twitter {
	float:right;
}

.company {
	color:#083643;
	color:black;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}